In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
movies_meta = pd.read_csv('movies_metadata.csv')

C:\Users\carol\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
credits = pd.read_csv("credits.csv")

In [4]:
movies_meta.head();

In [5]:
credits.head();

In [6]:
soma = 0

for valor in movies_meta["revenue"]:
    if valor == 0:
            soma += 1
print(soma)

38052

In [7]:
zero_revenue = movies_meta[movies_meta["revenue"] == 0].index

movies_meta_v2 = movies_meta.drop(zero_revenue)

In [8]:
movies_meta_v3 = movies_meta_v2.loc[:,["id","title","revenue"]]

In [9]:
movies_meta_v3.head()

      id                        title      revenue
0    862                    Toy Story  373554033.0
1   8844                      Jumanji  262797249.0
3  31357            Waiting to Exhale   81452156.0
4  11862  Father of the Bride Part II   76578911.0
5    949                         Heat  187436818.0

In [10]:
credits_v2 = credits.loc[:,["id","cast"]]
actors_names = []

In [11]:
names = []
for i in range(len(credits)):
    listas = []
    s = credits_v2.cast[i]
    lista = eval(s)
    for l in lista:
        actors_names.append(l['name'])
        listas.append(l['name'])
    names.append(listas)

In [12]:
credits_v2["Atores"]=names

In [13]:
credits_v2.head();

In [14]:
credits_v3 = credits_v2.loc[:,["id","Atores"]]

In [15]:
for i in range(len(credits_v3)):
    if len(credits_v3.Atores[i]) == 0:
        credits_v3.drop(i, inplace=True)

In [16]:
credits_v3.head()

      id                                             Atores
0    862  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...
1   8844  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...
2  15602  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...
3  31357  [Whitney Houston, Angela Bassett, Loretta Devi...
4  11862  [Steve Martin, Diane Keaton, Martin Short, Kim...