In [21]:
%matplotlib notebook
%reset -f


import pandas as pd
import numpy as np
from scipy.stats import norm, probplot
import statsmodels.api as sm
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [22]:
data = pd.read_csv('Movie_Data_Atualizado.csv')

In [23]:
data.head();

**Para rodar o lista_filmes e lista_atores tem que rodar o "codigo_nova_tabela"**

In [24]:
%store -r lista_atores
%store -r lista_filmes

In [25]:
lista_atores;
lista_filmes;

In [26]:
df = data[lista_atores]

In [27]:
df;

In [28]:
def regress(X,Y):
    X_cp = sm.add_constant(X)
    model = sm.OLS(Y,X_cp)
    results = model.fit()
    return results

In [29]:
df.describe;

In [30]:
df2 = data.dropna();

In [31]:
Y = df2["Revenue (Millions)"]

In [46]:
%store df2

Stored 'df2' (DataFrame)

In [32]:
df2.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,...,Bijou Phillips,Roger Bart,Robert Hoffman,Briana Evigan,Cassie Ventura,Adam G. Sevani,Adam Pally,Thomas Middleditch,Shannon Woodward,Cheryl Hines
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,...,0,0,0,0,0,0,0,0,0,0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,...,0,0,0,0,0,0,0,0,0,0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,...,0,0,0,0,0,0,0,0,0,0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,...,0,0,0,0,0,0,0,0,0,0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,...,0,0,0,0,0,0,0,0,0,0

In [58]:
df2.loc[:,lista_atores].sum()

Chris Pratt               6
Vin Diesel                7
Bradley Cooper           11
Zoe Saldana               6
Noomi Rapace              4
Logan Marshall-Green      2
Michael Fassbender       11
Charlize Theron           7
James McAvoy              7
Anya Taylor-Joy           3
Haley Lu Richardson       2
Jessica Sula              1
Matthew McConaughey       9
Reese Witherspoon         3
Seth MacFarlane           4
Scarlett Johansson       12
Will Smith                9
Jared Leto                2
Margot Robbie             3
Viola Davis               6
Matt Damon                8
Tian Jing                 1
Willem Dafoe              5
Andy Lau                  1
Ryan Gosling             10
Emma Stone               10
Rosemarie DeWitt          1
J.K. Simmons              5
Essie Davis               1
Andrea Riseborough        2
                         ..
Nicholas D'Agosto         1
Emma Bell                 1
Arlen Escarpeta           1
Morjana Alaoui            0
MylÃ¨ne JampanoÃ¯           0
Catherine BÃ©gin           0
Robert Toupin             0
Carmen Ejogo              0
Lorraine Toussaint        0
Steven Mackintosh         1
Darsheel Safary           1
Tanay Chheda              1
Sachet Engineer           1
Kim Coates                1
Oliver Cooper             1
Jonathan Daniel Brown     1
Dax Flame                 1
Dean Norris               0
Lauren German             1
Heather Matarazzo         1
Bijou Phillips            1
Roger Bart                1
Robert Hoffman            1
Briana Evigan             1
Cassie Ventura            1
Adam G. Sevani            1
Adam Pally                0
Thomas Middleditch        0
Shannon Woodward          0
Cheryl Hines              1
Length: 1985, dtype: int64

In [34]:
Y = df2["Revenue (Millions)"]

In [61]:
%store Y

Stored 'Y' (Series)

In [60]:
X = df2[lista_atores]

In [37]:
nova_lista_atores = []
for ator in X.sum().index:
    if X.sum()[ator] != 0:
        nova_lista_atores.append(ator)
X_limpo = df2[nova_lista_atores]

In [62]:
%store X_limpo

Stored 'X_limpo' (DataFrame)

In [53]:
regressao = regress(X_limpo, Y)

In [54]:
REGRES = regressao

In [55]:
%store REGRES

Stored 'REGRES' (RegressionResultsWrapper)

In [44]:
dir(regressao);

['HC0_se',
 'HC1_se',
 'HC2_se',
 'HC3_se',
 '_HCCM',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_cache',
 '_data_attr',
 '_get_robustcov_results',
 '_is_nested',
 '_wexog_singular_values',
 'aic',
 'bic',
 'bse',
 'centered_tss',
 'compare_f_test',
 'compare_lm_test',
 'compare_lr_test',
 'condition_number',
 'conf_int',
 'conf_int_el',
 'cov_HC0',
 'cov_HC1',
 'cov_HC2',
 'cov_HC3',
 'cov_kwds',
 'cov_params',
 'cov_type',
 'df_model',
 'df_resid',
 'diagn',
 'eigenvals',
 'el_test',
 'ess',
 'f_pvalue',
 'f_test',
 'fittedvalues',
 'fvalue',
 'get_influence',
 'get_prediction',
 'get_robustcov_results',
 'initialize',
 'k_constant',
 'llf',
 'load',
 'model',
 'mse_model',
 'mse_resid',
 'mse_total',
 'nobs',
 'normalized_cov_params',
 'outlier_test',
 'params',
 'predict',
 'pvalues',
 'remove_data',
 'resid',
 'resid_pearson',
 'rsquared',
 'rsquared_adj',
 'save',
 'scale',
 'ssr',
 'summary',
 'summary2',
 't_test',
 't_test_pairwise',
 'tvalues',
 'uncentered_tss',
 'use_t',
 'wald_test',
 'wald_test_terms',
 'wresid']

In [ ]:
sorted_params = sorted(regressao.params, reverse=True)
sorted_params[0]

In [ ]:
top_5 = []
i = 0
while i < 5:
    top_5.append(sorted_params[i])
    i+=1
print(top_5)


bottom_5 = []
i = 1
while i < 6:
    bottom_5.append(sorted_params[-i])
    i+=1
print(bottom_5)

In [ ]:
name_top_5 = []

for i in regressao.params.index:
    if regressao.params[i] in top_5:
        name_top_5.append(i)
        
name_bottom_5 = []

for i in regressao.params.index:
    if regressao.params[i] in bottom_5:
        name_bottom_5.append(i)

In [ ]:
for i in name_top_5:
    print(i, ":", regressao.params[i])
    
print("-----")
    
for i in name_bottom_5:
    print(i, ":", regressao.params[i])

In [ ]:
%matplotlib inline
plt.hist(Y, density=True);

In [ ]:
Y.plot.box();

In [ ]:
for i in name_top_5:
    print(i, ":", df2[i].sum())

In [ ]:
for i in name_bottom_5:
    print(i, ":", df2[i].sum())

In [ ]:
revenue_top_5 = {}

for name in name_top_5:
    revenue_top_5[name] = 0

print(revenue_top_5)

for i in df2.index:
    for ator1 in name_top_5:
        if df2[ator1][i] == 1:
            revenue_top_5[ator1] += float(df2["Revenue (Millions)"][i])
            
print(revenue_top_5)

In [ ]:
revenue_bottom_5 = {}

for name in name_bottom_5:
    revenue_bottom_5[name] = 0

print(revenue_bottom_5)

for i in df2.index:
    for ator1 in name_bottom_5:
        if df2[ator1][i] == 1:
            revenue_bottom_5[ator1] += float(df2["Revenue (Millions)"][i])
            
print(revenue_bottom_5)

In [ ]:
adjusted_revenue_top_5 = {}

for key in revenue_top_5:
    adjusted_revenue_top_5[key] = revenue_top_5[key]/df2[key].sum()

print(adjusted_revenue_top_5)

In [ ]:
adjusted_revenue_bottom_5 = {}

for key in revenue_bottom_5:
    adjusted_revenue_bottom_5[key] = revenue_bottom_5[key]/df2[key].sum()

print(adjusted_revenue_bottom_5)

In [ ]:
plt.hist(adjusted_revenue_top_5.values());

In [ ]:
plt.hist(adjusted_revenue_bottom_5.values());

In [ ]:
for ator,renda in adjusted_revenue_top_5.items():
    plt.bar(ator,renda)
plt.show()

In [ ]:
for ator,renda in adjusted_revenue_bottom_5.items():
    plt.bar(ator,renda)
plt.show()

In [ ]:
for ator,renda in adjusted_revenue_top_5.items():
    plt.bar(ator,renda, color="blue")
for ator,renda in adjusted_revenue_bottom_5.items():
    plt.bar(ator,renda, color="red")
plt.show()