In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [1]:
data = pd.read_csv('Movie_Data.csv')

NameError: name 'pd' is not defined

In [3]:
data.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [4]:
lista_nomes = data.Actors.tolist()
lista_filmes = data.Title.tolist()

In [5]:
nova_lista=[]
for valor in lista_nomes:
    nova_lista+=valor.split(",")

In [6]:
lista_limpa =[]
for i in nova_lista:
    lista_limpa.append(i.strip())

In [7]:
lista_limpa
lista_atores = []
for value in lista_limpa:
    if value not in lista_atores:
        lista_atores.append(value)

In [8]:
nova_lista=[]
for valor in lista_nomes:
    nova_lista.append(valor.split(","))

In [9]:
lista_conj_atores =[]
for i in nova_lista:
    lista_l=[]
    for valor in i:
        lista_l.append(valor.strip())
    lista_conj_atores.append(lista_l)

In [10]:
%store lista_filmes
%store lista_atores

Stored 'lista_filmes' (list)
Stored 'lista_atores' (list)

teste = pd.DataFrame(index = data.Actors, columns=lista_atores)
**Esse nao é para rodar mais**

count = -1
for i in lista_conj_atores:
    count += 1
    for nome in lista_atores:
        if nome in i:
            teste[nome][count]=1
        else:
            teste[nome][count]=0
            
            
          **Esse nao é para rodar mais**

teste.index = lista_filmes

for i in lista_atores:
    data[i]=teste[i].tolist()

data.to_csv(r'C:\Users\carol\Documents\INSPER\2 semestre\ciencias dos dados\Projeto_3\Movie_Data_Atualizado.csv')