In [1]:
%matplotlib notebook
%reset -f


import pandas as pd
import numpy as np
from scipy.stats import norm, probplot
import statsmodels.api as sm
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [2]:
data = pd.read_csv('Movie_Data_Atualizado.csv')

In [3]:
data.head();

**Para rodar o lista_filmes e lista_atores tem que rodar o "codigo_nova_tabela"**

In [4]:
%store -r lista_atores
%store -r lista_filmes

In [5]:
lista_atores;
lista_filmes;

In [6]:
df = data[lista_atores]

In [7]:
df;

In [8]:
def regress(X,Y):
    X_cp = sm.add_constant(X)
    model = sm.OLS(Y,X_cp)
    results = model.fit()
    return results

In [9]:
df.describe;

In [10]:
df2 = data.dropna();

In [11]:
Y = df2["Revenue (Millions)"]

In [12]:
len(sorted(df2.loc[:,lista_atores].sum(), reverse=True))

1985

In [13]:
df2.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,...,Bijou Phillips,Roger Bart,Robert Hoffman,Briana Evigan,Cassie Ventura,Adam G. Sevani,Adam Pally,Thomas Middleditch,Shannon Woodward,Cheryl Hines
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,...,0,0,0,0,0,0,0,0,0,0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,...,0,0,0,0,0,0,0,0,0,0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,...,0,0,0,0,0,0,0,0,0,0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,...,0,0,0,0,0,0,0,0,0,0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df2.loc[:,lista_atores].sum()

Chris Pratt               6
Vin Diesel                7
Bradley Cooper           11
Zoe Saldana               6
Noomi Rapace              4
Logan Marshall-Green      2
Michael Fassbender       11
Charlize Theron           7
James McAvoy              7
Anya Taylor-Joy           3
Haley Lu Richardson       2
Jessica Sula              1
Matthew McConaughey       9
Reese Witherspoon         3
Seth MacFarlane           4
Scarlett Johansson       12
Will Smith                9
Jared Leto                2
Margot Robbie             3
Viola Davis               6
Matt Damon                8
Tian Jing                 1
Willem Dafoe              5
Andy Lau                  1
Ryan Gosling             10
Emma Stone               10
Rosemarie DeWitt          1
J.K. Simmons              5
Essie Davis               1
Andrea Riseborough        2
                         ..
Nicholas D'Agosto         1
Emma Bell                 1
Arlen Escarpeta           1
Morjana Alaoui            0
Mylène Jampanoï           0
Catherine Bégin           0
Robert Toupin             0
Carmen Ejogo              0
Lorraine Toussaint        0
Steven Mackintosh         1
Darsheel Safary           1
Tanay Chheda              1
Sachet Engineer           1
Kim Coates                1
Oliver Cooper             1
Jonathan Daniel Brown     1
Dax Flame                 1
Dean Norris               0
Lauren German             1
Heather Matarazzo         1
Bijou Phillips            1
Roger Bart                1
Robert Hoffman            1
Briana Evigan             1
Cassie Ventura            1
Adam G. Sevani            1
Adam Pally                0
Thomas Middleditch        0
Shannon Woodward          0
Cheryl Hines              1
Length: 1985, dtype: int64

In [15]:
Y = df2["Revenue (Millions)"]

In [16]:
Y

0      333.13
1      126.46
2      138.12
3      270.32
4      325.02
5       45.13
6      151.06
8        8.01
9      100.01
10     234.02
11     169.27
12     532.17
13     248.75
14       2.87
15     368.31
16      67.12
17     162.16
18      51.69
19     100.50
20       7.22
21      47.70
23     153.69
24     103.14
28     113.08
29      54.65
30      60.31
31      10.64
32     155.33
33     363.02
34      26.84
        ...
955     26.05
956     40.17
957     40.98
958     30.69
959     22.49
960      2.32
961      0.01
962     26.81
963      0.09
970     34.33
972     38.51
973     38.18
974      8.81
975     59.57
979      3.19
980     61.69
981     85.91
982     24.34
983     82.39
984     42.65
985     21.56
986     42.58
987     23.39
990     45.80
991      1.20
993     60.13
994     54.72
996     17.54
997     58.01
999     19.64
Name: Revenue (Millions), Length: 838, dtype: float64

In [17]:
X = df2[lista_atores]

In [ ]:
nova_lista_atores = []
for ator in X.sum().index:
    print(ator, ":", X.sum()[ator])
    if X.sum()[ator] != 0:
        nova_lista_atores.append(ator)
X_limpo = df2[nova_lista_atores]

Chris Pratt : 6
Vin Diesel : 7
Bradley Cooper : 11
Zoe Saldana : 6
Noomi Rapace : 4
Logan Marshall-Green : 2

In [ ]:
regressao = regress(X_limpo, Y)

In [ ]:
regressao.summary()

In [ ]:
dir(regressao);

In [ ]:
sorted_params = sorted(regressao.params, reverse=True)
sorted_params[0]

In [ ]:
top_5 = []
i = 0
while i < 5:
    top_5.append(sorted_params[i])
    i+=1
print(top_5)


bottom_5 = []
i = 1
while i < 6:
    bottom_5.append(sorted_params[-i])
    i+=1
print(bottom_5)

In [ ]:
name_top_5 = []

for i in regressao.params.index:
    if regressao.params[i] in top_5:
        name_top_5.append(i)
        
name_bottom_5 = []

for i in regressao.params.index:
    if regressao.params[i] in bottom_5:
        name_bottom_5.append(i)

In [ ]:
for i in name_top_5:
    print(i, ":", regressao.params[i])
    
print("-----")
    
for i in name_bottom_5:
    print(i, ":", regressao.params[i])

In [ ]:
%matplotlib inline
plt.hist(Y, density=True);

In [ ]:
Y.plot.box();

In [ ]:
for i in name_top_5:
    print(i, ":", df2[i].sum())

In [ ]:
for i in name_bottom_5:
    print(i, ":", df2[i].sum())

In [ ]:
revenue_top_5 = {}

for name in name_top_5:
    revenue_top_5[name] = 0

print(revenue_top_5)

for i in df2.index:
    for ator1 in name_top_5:
        if df2[ator1][i] == 1:
            revenue_top_5[ator1] += float(df2["Revenue (Millions)"][i])
            
print(revenue_top_5)

In [ ]:
revenue_bottom_5 = {}

for name in name_bottom_5:
    revenue_bottom_5[name] = 0

print(revenue_bottom_5)

for i in df2.index:
    for ator1 in name_bottom_5:
        if df2[ator1][i] == 1:
            revenue_bottom_5[ator1] += float(df2["Revenue (Millions)"][i])
            
print(revenue_bottom_5)

In [ ]:
adjusted_revenue_top_5 = {}

for key in revenue_top_5:
    adjusted_revenue_top_5[key] = revenue_top_5[key]/df2[key].sum()

print(adjusted_revenue_top_5)

In [ ]:
adjusted_revenue_bottom_5 = {}

for key in revenue_bottom_5:
    adjusted_revenue_bottom_5[key] = revenue_bottom_5[key]/df2[key].sum()

print(adjusted_revenue_bottom_5)

In [ ]:
plt.hist(adjusted_revenue_top_5.values());

In [ ]:
plt.hist(adjusted_revenue_bottom_5.values());

In [ ]:
for ator,renda in adjusted_revenue_top_5.items():
    plt.bar(ator,renda)
plt.show()

In [ ]:
for ator,renda in adjusted_revenue_bottom_5.items():
    plt.bar(ator,renda)
plt.show()

In [ ]:
for ator,renda in adjusted_revenue_top_5.items():
    plt.bar(ator,renda, color="blue")
for ator,renda in adjusted_revenue_bottom_5.items():
    plt.bar(ator,renda, color="red")
plt.show()